{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div class="jumbotron text-center">
    <p>Who's that pokemon?</p>
    <img src="{% static image_file %}" class="pokemon-picture">
    <p>
        <input type="text" class="pokemon-name" maxlength="50">
    </p>
</div>

{# Set the pokemon's name in Javascript #}
<script type="text/javascript">
    var pokemonName = "{{pokemon_name}}"
</script>

<script type="text/javascript" src="{% static 'javascript/pokemon.js' %}"></script>
{% endblock %}
