{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div>
    <p class="title">Who's that pokemon?</p>
    <div id="wrapper">
        <div id="picture-div">
            <img src="{% static image_file %}" class="pokemon-picture">
        </div>
        <div id="score">
            <p>Time: <span id="timer">6</span></p>
            <p>Streak: {{ player_score }}</p>
        </div>
    </div>
    <form action="/game/" method="post" id="poke-form">
        <p>
            {% csrf_token %}
            <input type="text" id="pokemon-name" maxlength="50" name="poke_name" autocomplete="off" autofocus>
        </p>
    </form>
</div>

{# Set the pokemon's name in Javascript #}
<script type="text/javascript">
    var pokemonName = "{{pokemon_name}}"
</script>

<script type="text/javascript" src="{% static 'javascript/pokemon.js' %}"></script>
{% endblock %}

