{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div>
    <table class="poke-table">
        <thead class="title-row"><tr>
            <td colspan="2">Top Scores</td>
        </tr></thead>
        <tbody>
            {% for attempt in attempts%}
                <tr>
                    <td>{{ attempt.score }}</td>
                    <td>{{ attempt.player_name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<p>
    <a href="/game">
        <button type="button" class="btn btn-default btn-lg">
            play again
        </button>
    </a>
    <a href="/">
        <button type="button" class="btn btn-default btn-lg" action="/">
            home
        </button>
    </a>
</p>

{% endblock %}
