{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
    <div class="container">
        <img src="{% static 'pokeball.png'%}" id="pokeball">
        <h1>Andrew Callahan</h1>
        <p>Welcome to my site! Can you guess a random pokemon's name in less than 10 seconds?</p>
        <a href="/game">
        <button type="button" class="btn btn-default btn-lg" action="/">
            start
        </button>
    </a>
    </div>
</div>

{% endblock %}
