{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div class="game-over">
    <br>
    {% if complete %}
        <p>Congratulations! You got them all!</p>
    {% else %}
        <p>New high score!</p>
    {% endif %}
    <br>
    <p>Final Score: {{ player_score }} out of {{ max_score }}</p>
    <br>
    <p>Please enter your name</p>
    <form action="/scores/" method="post">
        {% csrf_token %}
        <p>
            <input type="text" class="player-name" maxlength="50" name="player_name" autocomplete="off" autofocus>
            <input type="submit" value="Submit" class="player-name">
        </p>
    </form>
</div>

{% endblock %}
